@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  // font weight
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  // font-family
  --ff-headings: "Urbanist", sans-serif;
  --ff-body: "Inter", Helvetica, Arial, sans-serif;
  --ff-code: monospace;

  // font-size
  font-size: 62.5%;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-base: 1.6rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.4rem;
  --fs-xl: 3.2rem;
  --fs-2xl: 4rem;
  --fs-3xl: 4.8rem;
  --fs-4xl: 5.6rem;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: var(--fs-base);
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headings);
}

code {
  font-family: var(--ff-code);
  font-size: var(--fs-sm);
}

.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6 {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-xs);
}

.content > p {
  margin-bottom: var(--spacing-lg);
  line-height: 1.8;
}

:where(h2, h3, h4, h5, h6) {
  .icon-link {
    position: relative;

    &::before {
      content: "#";
      font-family: var(--ff-sans);
      font-size: inherit;
      position: absolute;
      left: 1ch;
      top: 0;
      line-height: 1;
      opacity: 0;
      text-decoration: none;
      color: var(--txt-muted);
    }
  }

  &:hover .icon-link::before {
    opacity: 1;
  }
}
