@use '../../../styles/utils' as u;

.aboutUsSection {
  background-color: var(--clr-bg-accent-1);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  color: var(--clr-txt-primary-on-bg-accent-1);

  .container {
    display: grid;
    gap: var(--spacing-xl);
    align-items: center;
    @include u.add-section-lr-padding();

    @include u.respond-to('md-screens') {
      grid-template-columns: 3fr 2fr;
      gap: var(--spacing-4xl);
    }

    .header {
      margin-bottom: var(--spacing-md);

      .subTitle {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        font-size: var(--fs-base);
        font-weight: var(--fw-semibold);
        color: var(--clr-txt-secondary-on-bg-accent-1);
        margin-bottom: var(--spacing-sm);

        svg {
          font-size: var(--fs-lg);
        }
      }

      h2 {
        font-size: var(--fs-xl);
        font-weight: var(--fw-extrabold);
        line-height: 1.2;
        margin-top: 0;

        @include u.respond-to('md-screens') {
          font-size: var(--fs-2xl);
        }
      }
    }

    .text {
      font-size: var(--fs-base);
      line-height: 1.6;
      color: var(--clr-txt-secondary-on-bg-accent-1);
      margin-bottom: var(--spacing-sm);

      @include u.respond-to('md-screens') {
        font-size: var(--fs-md);
      }
    }

    .ctaContainer {
      margin-top: var(--spacing-md);

      .btn {
        background-color: var(--clr-accent-2);
        color: var(--clr-txt-primary-on-bg-accent-2);
        padding: var(--spacing-md) var(--spacing-xl);

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .imageWrapper {
      width: 100%;

      @include u.respond-to('md-screens') {
        max-width: 100%;
      }

      .image {
        width: 100%;
        height: auto;
        border-radius: var(--radius-sm);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); // Subtle shadow to lift the image
      }
    }
  }
}
